.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.searchBar{
  background-color: black;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.Clouds{
background-image: url(./assets/images/scattered.jpg);
text-align: center;
background-repeat: no-repeat;
height: 100vh;
}
li{
  list-style: none;
  font-weight: 600;
}
.Smoke{
  background-image: url(./assets/images/smoke.jpg);
  text-align: center;
  background-repeat: no-repeat;
  }
  .weatherMain{
    width: 80%;
    background-color: rgb(141, 139, 139,0.5);
    border-radius: 10px;
    margin: 20px auto;
  }
  .weather{
    text-transform: capitalize;
    margin: 1px;
    color: white;
  }
  .weatherHead{
    text-transform: capitalize;
    margin: 2px;
    padding: 20px;
    color: white;

  }
  .weatherMini{
    padding: 20px;
    color: white;
  }

